<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ pageTitle({delim:' / ', siteTitle:'Herbie', rootTitle: 'Herbie - Einfaches Flat-File CMS- und Blogsystem', reverse:false}) }}</title>
        <!-- link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster" -->
        <link rel='stylesheet' id='googleFonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C400%2C300%2C700%2C800&#038;ver=3.8.1' type='text/css' media='all' />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/elma.css">
        <link rel="alternate" type="application/rss+xml" title="RSS-Feed" href="{{ baseUrl }}/feed.rss">
    </head>
<body class="{{ bodyClass() }}">