<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ pageTitle({delim:' / ', siteTitle:'Herbie', rootTitle: 'Herbie - Ein CMS- und Blogsystem basierend auf Textdateien', reverse:false}) }}</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/styles.css">
        <link rel="alternate" type="application/rss+xml" title="RSS-Feed" href="{{ baseUrl }}/feed.rss">
    </head>
<body class="{{ bodyClass() }}">