{% extends "main.html" %}

{% block content %}

<div class="content-container">
    <div class="container">
        <div class="pure-g-r">
            <div class="pure-u-2-3">
                <div class="content">

                    {% if isPost() %}

                        <h1> {{ page.title }}</h1>
                        <div class="blog-meta">
                            {{ page.date|strftime("%e. %B %Y") }}
                            {{ include('@widget/blog/links.html', {page: page}) }}
                        </div>
                        {{ content(0) }}

                    {% else %}

                        {% set items = site.posts.filterItems %}
                        {% set filteredBy = site.posts.filteredBy %}

                        {% if filteredBy %}
                            <div class="posts-filteredby">
                                <span>{{ filteredBy.label }} <strong>{{ filteredBy.value }}</strong>.</span>
                            </div>
                        {% endif %}

                        <div class="posts">
                        {% for item in items %}
                            <section class="post">
                                <header class="post-header">
                                    <h2 class="post-title">{{ link(item.route, item.title) }}</h2>
                                </header>
                                <div class="blog-meta">
                                    {{ item.date|strftime("%e. %B %Y") }}
                                </div>
                                <div class="post-description">
                                    <p>{{ item.excerpt }}</p>
                                </div>
                            </section>
                        {% endfor %}
                        </div>

                    {% endif %}

                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="sidebar">
                    {{ include('@widget/blog/recent_posts.html', {title: 'Letzte Artikel', showDate:false}) }}
                    {{ include('@widget/blog/categories.html', {title: 'Kategorien', showCount:true}) }}
                    {{ include('@widget/blog/tags.html', {title: 'Tags', showCount:true}) }}
                    {{ include('@widget/blog/archives.html', {title: 'Archiv', showCount:true}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
