RewriteEngine on

RewriteCond %{HTTP_HOST} ^getherbie\.org$ [NC]
RewriteRule ^(.*)$ http://www.getherbie.org/$1 [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php
